@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600&display=swap");


body {
  font-family: 'Rajdhani', 'Amatic SC', cursive;
  /* background: repeating-linear-gradient(90deg, #c9c3c780 0, #c9c3c783 5%, transparent 0, transparent 50%), repeating-linear-gradient(180deg, #c9c3c78e 0, #c9c3c77c 5%, transparent 0, transparent 50%); */
  /* background-size: 1em 1em; */
  background-color: #f1eee4dc;
  opacity: 0.85;
  margin: 0 auto;
  width: 800px;
}

.main {
  text-align: center;
  font-size: 2.1em;
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 9%;
}

.animg {
  width: 70px;
  height: 70px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 38px;
  margin-bottom: 15px;
}


.animal {
  margin: 20px;
  display: inline-block;
  width: 150px;
  height: 166px;
  border-radius: 20%;
  transform: scale(1);
  transition: transform 500ms;
  box-shadow: 10px 10px 5px rgb(230, 221, 221);

  /* border: 4px solid */
}

.animal:hover {
  transform: scale(1.05);
}

.animal:active {
  transform: scale(.8);
  box-shadow: 3px 3px 10px rgb(124, 122, 122);
}

.anibtt {
  margin-top: -14px;
  font-weight: bold;
  font-size: .8rem;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 20px;
}

.footer .heart {
  font-size: .8rem;
  line-height: 1.4rem;
}


.cat {
  background-color: #d6aaec;
}

.bat {
  background-color: rgb(255, 205, 212);
}

.cow {
  background-color: rgb(241, 241, 168);
}

.pig {
  background-color: #d4fbff;
}

.rat {
  background-color: rgb(255, 205, 212);
}

.sheep {
  background-color: rgb(178, 245, 178);
}

.rabbit {
  background-color: rgb(178, 245, 178);
}

.elephant {
  background-color: #d6aaec;
}

.dog {
  background-color: #d4fbff;
}

.rooster {
  background-color: rgb(241, 241, 168);
}

.frog {
  background-color: #d4fbff;
}

.owl {
  background-color: rgb(255, 205, 212);
}


/* Mobile Styles */
@media only screen and (max-width: 460px) {

  body {
    margin: 0 auto;
    width: 300px;
  }

  .nome {
    font-size: .9em;
  }

  .animg {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 38px;
    margin-bottom: 15px;
  }


  .animal {
    margin: 20px;
    display: inline-block;
    width: 150px;
    height: 166px;
    border-radius: 20%;
    transform: scale(1);
    transition: transform 500ms;
    box-shadow: 10px 10px 5px rgb(230, 221, 221);

    /* border: 4px solid */
  }

  .anibtt {
    margin-top: 2px;
    font-family: 'Rajdhani', 'Amatic SC', cursive;
    font-size: 0.8em;
  }
}


@media only screen and (min-width: 455px) {

  body {
    width: 600px;
  }

  .nome {
    font-size: 1.2em;
  }

  .animals {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 9%;

  }

  .animg {
    width: 79px;
    height: 79px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 0px;
    animation-duration: 2s;
    animation-name: move;
    animation-iteration-count: infinite;
  }

  .animal {
    margin: 20px;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 10%;
  }

  .anibtt {
    background: transparent;
    display: block;
    margin-top: 11px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10%;
    font-family: 'Rajdhani', 'Amatic SC', cursive;
    font-weight: bold;
  }
}


@media only screen and (min-width: 800px) {
  body {
    width: 800px;
  }

  .main .nome {
    font-size: 1.8em;

  }

  .anibtt {
    margin-top: 3px;
  }

  .animals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 9%;
  }

  .animg {
    width: 70px;
    height: 70px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 38px;
    margin-bottom: 15px;
  }


  .animal {
    margin: 20px;
    display: inline-block;
    width: 150px;
    height: 166px;
    border-radius: 20%;
    transform: scale(1);
    transition: transform 500ms;
    box-shadow: 10px 10px 5px rgb(230, 221, 221);

    /* border: 4px solid */
  }
}